
  /* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.cover-container {
  max-width: 42em;
}

.bt-dark{
  color: #616161;
}
.lead{ 
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
}
