<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
      		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      		rel="stylesheet"
      		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      		crossorigin="anonymous"
    />
    <link rel= "stylesheet" href="/css/thanks.css" />
    <title>"<%= title %>"</title>
  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <div class="jumbotron text-center">
          <h1>Thank you <strong><%= username %> </strong></h1>
        </div>        
        <p class="text-center display-6">We apreciate your comments: <%= comments %>.</p>
        <hr>
        <a href="/" class="text-center">Logo out</a>
      </div>
      <footer id="footer" class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
          © 2021 Copyright: Sergio Silva 301011342		
        </div>
        </footer>
    </div>
    
  </body>
</html>